<div class = cover-page>
    <div class = top-image>

    </div>
    <div class = profile-container>
        <div class = 'profile fade-in one'>
            
        </div>
    </div>
    <div class = bottom>
        <div class = bottom-text-container>
            <h1 class = 'fade-in one'>Ian Matson</h1>
            <div class = sections>
                <h2 class = 'fade-in four'>About Me</h2>
                <h2 class = 'fade-in three'>Projects</h2>
                <h2 class = 'fade-in two'>Experience</h2>
                <h2 class = 'fade-in three'>Education</h2>
                <h2 class = 'fade-in four'>Contact Me</h2>
            </div>
        </div>
    </div>
</div>
