<div class = cover-page>
    <div class = top-image>

    </div>
    <div class = profile-container>
        <div class = 'profile fade-in one'>
            
        </div>
    </div>
    <div class = bottom>
        <div class = bottom-text-container>
            <h1><span class = 'smaller-text fade-in one'>Hi<span class = 'accent fade-in one'>, </span> 
                <span class='fade-in two'>I<span class = accent>'</span>m</span></span><br>
                <span class = 'fade-in three'>Ian Matson<span class = accent>.</span></span></h1>
            <div class = sections>
                <h2 class = 'fade-in five'>About Me</h2>
                <h2 class = 'fade-in four'>Projects</h2>
                <h2 class = 'fade-in three'>Experience</h2>
                <h2 class = 'fade-in four'>Education</h2>
                <h2 class = 'fade-in five'>Contact Me</h2>
            </div>
        </div>
    </div>
</div>

<div id = about-me class = about-me>
    
</div>
